#wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}