div {
    max-height: max-content;
    max-width: fit-content;
    background-color: #b1b1b1;
    padding: 10px;
    border-radius: 16px;
}

.teste {
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
}